[Unit]
Description=sample-application

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/docker pull mohitarora/sample-app:v1.0.1
ExecStart=/usr/bin/docker run --name %p --expose 8080 -p %i:8080 mohitarora/sample-app:v1.0.1 /opt/launch.sh
ExecStartPost=/usr/bin/etcdctl set /applications/sample/%p ${COREOS_PUBLIC_IPV4}:%i
ExecStop=/usr/bin/docker stop %p
ExecStopPost=/usr/bin/etcdctl rm /applications/sample/%p
TimeoutSec=120min

[X-Fleet]
X-Conflicts=*@%i.service