[Unit]
Description=web-server

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/docker pull mohitarora/sample_app_httpd
ExecStart=/usr/bin/docker run --name %p -p 80:80 -e HOST_IP=${COREOS_PUBLIC_IPV4} mohitarora/sample_app_httpd
ExecStop=/usr/bin/docker stop %p
TimeoutSec=120min

[X-Fleet]
X-Conflicts=httpd.service